<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression_Suite" allow-return-values="true"
	verbose="1"> <!-- parallel="tests" thread-count="2" -->

	<test name="Happy_Scenarios">

		<classes>

			<class name="tests.functionalTests">

			</class>


		</classes>
	</test>

</suite>